---
/**
 * Elements Index Page
 *
 * Alphabetical listing of all HTML elements, custom elements, and web components.
 */
import DocsLayout from '../../../layouts/DocsLayout.astro';

// Element data organized by letter
const elements = {
  A: [
    { name: 'a', type: 'native', href: '/docs/elements/native/a/' },
    { name: 'abbr', type: 'native', href: '/docs/elements/native/abbr/' },
    { name: 'accordion-wc', type: 'component', href: '/docs/elements/web-components/accordion/' },
    { name: 'address', type: 'native', href: '/docs/elements/native/address/' },
    { name: 'area', type: 'native', href: '/docs/elements/native/area/' },
    { name: 'article', type: 'native', href: '/docs/elements/native/article/' },
    { name: 'aside', type: 'native', href: '/docs/elements/native/aside/' },
    { name: 'audio', type: 'native', href: '/docs/elements/native/audio/' },
  ],
  B: [
    { name: 'b', type: 'native', href: '/docs/elements/native/b/' },
    { name: 'base', type: 'native', href: '/docs/elements/native/base/' },
    { name: 'bdi', type: 'native', href: '/docs/elements/native/bdi/' },
    { name: 'bdo', type: 'native', href: '/docs/elements/native/bdo/' },
    { name: 'blockquote', type: 'native', href: '/docs/elements/native/blockquote/' },
    { name: 'body', type: 'native', href: '/docs/elements/native/body/' },
    { name: 'br', type: 'native', href: '/docs/elements/native/br/' },
    { name: 'brand-mark', type: 'custom', href: '/docs/elements/custom-elements/brand-mark/' },
    { name: 'button', type: 'native', href: '/docs/elements/native/button/' },
  ],
  C: [
    { name: 'canvas', type: 'native', href: '/docs/elements/native/canvas/' },
    { name: 'caption', type: 'native', href: '/docs/elements/native/caption/' },
    { name: 'cite', type: 'native', href: '/docs/elements/native/cite/' },
    { name: 'code', type: 'native', href: '/docs/elements/native/code/' },
    { name: 'col', type: 'native', href: '/docs/elements/native/col/' },
    { name: 'colgroup', type: 'native', href: '/docs/elements/native/colgroup/' },
  ],
  D: [
    { name: 'data', type: 'native', href: '/docs/elements/native/data/' },
    { name: 'datalist', type: 'native', href: '/docs/elements/native/datalist/' },
    { name: 'dd', type: 'native', href: '/docs/elements/native/dd/' },
    { name: 'del', type: 'native', href: '/docs/elements/native/del/' },
    { name: 'details', type: 'native', href: '/docs/elements/native/details/' },
    { name: 'dfn', type: 'native', href: '/docs/elements/native/dfn/' },
    { name: 'dialog', type: 'native', href: '/docs/elements/native/dialog/' },
    { name: 'div', type: 'native', href: '/docs/elements/native/div/' },
    { name: 'dl', type: 'native', href: '/docs/elements/native/dl/' },
    { name: 'dl-item', type: 'custom', href: '/docs/elements/custom-elements/dl-item/' },
    { name: 'dropdown-wc', type: 'component', href: '/docs/elements/web-components/dropdown/' },
    { name: 'dt', type: 'native', href: '/docs/elements/native/dt/' },
  ],
  E: [
    { name: 'em', type: 'native', href: '/docs/elements/native/em/' },
    { name: 'embed', type: 'native', href: '/docs/elements/native/embed/' },
  ],
  F: [
    { name: 'fieldset', type: 'native', href: '/docs/elements/native/fieldset/' },
    { name: 'figcaption', type: 'native', href: '/docs/elements/native/figcaption/' },
    { name: 'figure', type: 'native', href: '/docs/elements/native/figure/' },
    { name: 'footer', type: 'native', href: '/docs/elements/native/footer/' },
    { name: 'footnotes-wc', type: 'component', href: '/docs/elements/web-components/footnotes/' },
    { name: 'form', type: 'native', href: '/docs/elements/native/form/' },
    { name: 'form-field', type: 'custom', href: '/docs/elements/custom-elements/form-field/' },
  ],
  H: [
    { name: 'h1', type: 'native', href: '/docs/elements/native/h1/' },
    { name: 'h2', type: 'native', href: '/docs/elements/native/h2/' },
    { name: 'h3', type: 'native', href: '/docs/elements/native/h3/' },
    { name: 'h4', type: 'native', href: '/docs/elements/native/h4/' },
    { name: 'h5', type: 'native', href: '/docs/elements/native/h5/' },
    { name: 'h6', type: 'native', href: '/docs/elements/native/h6/' },
    { name: 'head', type: 'native', href: '/docs/elements/native/head/' },
    { name: 'header', type: 'native', href: '/docs/elements/native/header/' },
    { name: 'heading-links', type: 'component', href: '/docs/elements/web-components/heading-links/' },
    { name: 'hgroup', type: 'native', href: '/docs/elements/native/hgroup/' },
    { name: 'hr', type: 'native', href: '/docs/elements/native/hr/' },
    { name: 'html', type: 'native', href: '/docs/elements/native/html/' },
  ],
  I: [
    { name: 'i', type: 'native', href: '/docs/elements/native/i/' },
    { name: 'icon-wc', type: 'component', href: '/docs/elements/web-components/icons/' },
    { name: 'iframe', type: 'native', href: '/docs/elements/native/iframe/' },
    { name: 'img', type: 'native', href: '/docs/elements/native/img/' },
    { name: 'input', type: 'native', href: '/docs/elements/native/input/' },
    { name: 'ins', type: 'native', href: '/docs/elements/native/ins/' },
  ],
  K: [
    { name: 'kbd', type: 'native', href: '/docs/elements/native/kbd/' },
  ],
  L: [
    { name: 'label', type: 'native', href: '/docs/elements/native/label/' },
    { name: 'layout-badge', type: 'custom', href: '/docs/elements/custom-elements/layout-badge/' },
    { name: 'layout-card', type: 'custom', href: '/docs/elements/custom-elements/layout-card/' },
    { name: 'layout-center', type: 'custom', href: '/docs/elements/custom-elements/center/' },
    { name: 'layout-cluster', type: 'custom', href: '/docs/elements/custom-elements/cluster/' },
    { name: 'layout-cover', type: 'custom', href: '/docs/elements/custom-elements/cover/' },
    { name: 'layout-grid', type: 'custom', href: '/docs/elements/custom-elements/grid/' },
    { name: 'layout-imposter', type: 'custom', href: '/docs/elements/custom-elements/imposter/' },
    { name: 'layout-reel', type: 'custom', href: '/docs/elements/custom-elements/reel/' },
    { name: 'layout-sidebar', type: 'custom', href: '/docs/elements/custom-elements/sidebar/' },
    { name: 'layout-stack', type: 'custom', href: '/docs/elements/custom-elements/stack/' },
    { name: 'layout-switcher', type: 'custom', href: '/docs/elements/custom-elements/switcher/' },
    { name: 'layout-text', type: 'custom', href: '/docs/elements/custom-elements/layout-text/' },
    { name: 'legend', type: 'native', href: '/docs/elements/native/legend/' },
    { name: 'li', type: 'native', href: '/docs/elements/native/li/' },
    { name: 'link', type: 'native', href: '/docs/elements/native/link/' },
  ],
  M: [
    { name: 'main', type: 'native', href: '/docs/elements/native/main/' },
    { name: 'map', type: 'native', href: '/docs/elements/native/map/' },
    { name: 'mark', type: 'native', href: '/docs/elements/native/mark/' },
    { name: 'math', type: 'native', href: '/docs/elements/native/math/' },
    { name: 'menu', type: 'native', href: '/docs/elements/native/menu/' },
    { name: 'meta', type: 'native', href: '/docs/elements/native/meta/' },
    { name: 'meter', type: 'native', href: '/docs/elements/native/meter/' },
  ],
  N: [
    { name: 'nav', type: 'native', href: '/docs/elements/native/nav/' },
    { name: 'noscript', type: 'native', href: '/docs/elements/native/noscript/' },
  ],
  O: [
    { name: 'object', type: 'native', href: '/docs/elements/native/object/' },
    { name: 'ol', type: 'native', href: '/docs/elements/native/ol/' },
    { name: 'optgroup', type: 'native', href: '/docs/elements/native/optgroup/' },
    { name: 'option', type: 'native', href: '/docs/elements/native/option/' },
    { name: 'output', type: 'native', href: '/docs/elements/native/output/' },
  ],
  P: [
    { name: 'p', type: 'native', href: '/docs/elements/native/p/' },
    { name: 'page-toc', type: 'component', href: '/docs/elements/web-components/page-toc/' },
    { name: 'picture', type: 'native', href: '/docs/elements/native/picture/' },
    { name: 'pre', type: 'native', href: '/docs/elements/native/pre/' },
    { name: 'progress', type: 'native', href: '/docs/elements/native/progress/' },
  ],
  Q: [
    { name: 'q', type: 'native', href: '/docs/elements/native/q/' },
  ],
  R: [
    { name: 'rp', type: 'native', href: '/docs/elements/native/rp/' },
    { name: 'rt', type: 'native', href: '/docs/elements/native/rt/' },
    { name: 'ruby', type: 'native', href: '/docs/elements/native/ruby/' },
  ],
  S: [
    { name: 's', type: 'native', href: '/docs/elements/native/s/' },
    { name: 'samp', type: 'native', href: '/docs/elements/native/samp/' },
    { name: 'script', type: 'native', href: '/docs/elements/native/script/' },
    { name: 'search', type: 'native', href: '/docs/elements/native/search/' },
    { name: 'search-wc', type: 'component', href: '/docs/elements/web-components/search-wc/' },
    { name: 'section', type: 'native', href: '/docs/elements/native/section/' },
    { name: 'select', type: 'native', href: '/docs/elements/native/select/' },
    { name: 'semantic-card', type: 'custom', href: '/docs/elements/custom-elements/semantic-card/' },
    { name: 'slot', type: 'native', href: '/docs/elements/native/slot/' },
    { name: 'small', type: 'native', href: '/docs/elements/native/small/' },
    { name: 'source', type: 'native', href: '/docs/elements/native/source/' },
    { name: 'span', type: 'native', href: '/docs/elements/native/span/' },
    { name: 'status-message', type: 'custom', href: '/docs/elements/custom-elements/status-message/' },
    { name: 'strong', type: 'native', href: '/docs/elements/native/strong/' },
    { name: 'style', type: 'native', href: '/docs/elements/native/style/' },
    { name: 'sub', type: 'native', href: '/docs/elements/native/sub/' },
    { name: 'summary', type: 'native', href: '/docs/elements/native/summary/' },
    { name: 'sup', type: 'native', href: '/docs/elements/native/sup/' },
    { name: 'svg', type: 'native', href: '/docs/elements/native/svg/' },
  ],
  T: [
    { name: 'table', type: 'native', href: '/docs/elements/native/table/' },
    { name: 'table-wc', type: 'component', href: '/docs/elements/web-components/table-wc/' },
    { name: 'tabs-wc', type: 'component', href: '/docs/elements/web-components/tabs/' },
    { name: 'tbody', type: 'native', href: '/docs/elements/native/tbody/' },
    { name: 'td', type: 'native', href: '/docs/elements/native/td/' },
    { name: 'template', type: 'native', href: '/docs/elements/native/template/' },
    { name: 'text-divider', type: 'custom', href: '/docs/elements/custom-elements/text-divider/' },
    { name: 'textarea', type: 'native', href: '/docs/elements/native/textarea/' },
    { name: 'tfoot', type: 'native', href: '/docs/elements/native/tfoot/' },
    { name: 'th', type: 'native', href: '/docs/elements/native/th/' },
    { name: 'thead', type: 'native', href: '/docs/elements/native/thead/' },
    { name: 'theme-wc', type: 'component', href: '/docs/elements/web-components/theme-wc/' },
    { name: 'time', type: 'native', href: '/docs/elements/native/time/' },
    { name: 'title', type: 'native', href: '/docs/elements/native/title/' },
    { name: 'toast-wc', type: 'component', href: '/docs/elements/web-components/toast/' },
    { name: 'tooltip-wc', type: 'component', href: '/docs/elements/web-components/tooltip/' },
    { name: 'tr', type: 'native', href: '/docs/elements/native/tr/' },
    { name: 'track', type: 'native', href: '/docs/elements/native/track/' },
  ],
  U: [
    { name: 'u', type: 'native', href: '/docs/elements/native/u/' },
    { name: 'ul', type: 'native', href: '/docs/elements/native/ul/' },
    { name: 'user-avatar', type: 'custom', href: '/docs/elements/custom-elements/user-avatar/' },
  ],
  V: [
    { name: 'var', type: 'native', href: '/docs/elements/native/var/' },
    { name: 'video', type: 'native', href: '/docs/elements/native/video/' },
  ],
  W: [
    { name: 'wbr', type: 'native', href: '/docs/elements/native/wbr/' },
  ],
};

// Calculate stats
const allElements = Object.values(elements).flat();
const nativeCount = allElements.filter(e => e.type === 'native').length;
const customCount = allElements.filter(e => e.type === 'custom').length;
const componentCount = allElements.filter(e => e.type === 'component').length;
const totalCount = allElements.length;
---

<DocsLayout
  title="Element Index"
  description="Complete alphabetical listing of all HTML elements, custom elements, and web components."
  currentSection="api"
>
  <style>
    .element-index {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
      gap: var(--size-s);
      margin-block-start: var(--size-l);
    }

    .element-entry {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--size-2xs);
      padding: var(--size-s) var(--size-m);
      background: var(--color-surface);
      border: var(--border-width-thin) solid var(--color-border);
      border-radius: var(--radius-s);
      text-decoration: none;
      color: inherit;
      transition: border-color 0.2s, box-shadow 0.2s;
    }

    .element-entry:hover {
      border-color: var(--color-interactive);
      box-shadow: 0 2px 8px oklch(0% 0 0 / 0.08);
    }

    .element-entry code {
      font-family: var(--font-mono);
      font-size: var(--font-size-sm);
      font-weight: 500;
    }

    .element-badge {
      padding: var(--size-3xs) var(--size-xs);
      border-radius: var(--radius-s);
      font-size: var(--font-size-xs);
      font-weight: 500;
      text-transform: uppercase;
      letter-spacing: 0.02em;
    }

    .element-badge[data-type="native"] {
      background: oklch(85% 0.1 145);
      color: oklch(30% 0.1 145);
    }

    .element-badge[data-type="custom"] {
      background: oklch(85% 0.1 250);
      color: oklch(30% 0.1 250);
    }

    .element-badge[data-type="component"] {
      background: oklch(85% 0.1 30);
      color: oklch(30% 0.1 30);
    }

    .legend {
      display: flex;
      flex-wrap: wrap;
      gap: var(--size-m);
      margin-block: var(--size-l);
      padding: var(--size-m);
      background: var(--color-surface-raised);
      border-radius: var(--radius-m);
    }

    .legend-item {
      display: flex;
      align-items: center;
      gap: var(--size-xs);
      font-size: var(--font-size-sm);
    }

    .stats {
      display: flex;
      gap: var(--size-xl);
      margin-block: var(--size-m);
      color: var(--color-text-muted);
      font-size: var(--font-size-sm);
    }

    .stats strong {
      color: var(--color-text);
    }

    .letter-heading {
      grid-column: 1 / -1;
      margin-block-start: var(--size-l);
      padding-block-end: var(--size-xs);
      border-block-end: var(--border-width-thin) solid var(--color-border);
      font-size: var(--font-size-lg);
      font-weight: 600;
      color: var(--color-text-muted);
    }

    .letter-heading:first-of-type {
      margin-block-start: 0;
    }
  </style>

  <h1>Element Index</h1>
  <p class="lead">Complete alphabetical listing of all HTML elements, custom elements, and web components.</p>

  <div class="stats">
    <span><strong>{nativeCount}</strong> native elements</span>
    <span><strong>{customCount}</strong> custom elements</span>
    <span><strong>{componentCount}</strong> web components</span>
    <span><strong>{totalCount}</strong> total</span>
  </div>

  <div class="legend">
    <div class="legend-item">
      <span class="element-badge" data-type="native">native</span>
      <span>Standard HTML5 elements</span>
    </div>
    <div class="legend-item">
      <span class="element-badge" data-type="custom">custom</span>
      <span>CSS-only layout primitives</span>
    </div>
    <div class="legend-item">
      <span class="element-badge" data-type="component">component</span>
      <span>JavaScript-enhanced components</span>
    </div>
  </div>

  <nav class="element-index" aria-label="All elements">
    {Object.entries(elements).map(([letter, items]) => (
      <>
        <h2 class="letter-heading">{letter}</h2>
        {items.map(item => (
          <a href={item.href} class="element-entry">
            <code>&lt;{item.name}&gt;</code>
            <span class="element-badge" data-type={item.type}>{item.type}</span>
          </a>
        ))}
      </>
    ))}
  </nav>
</DocsLayout>
